{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<style>
  .choose_row:hover {
    background-color: black !important;
    color: white !important;
  }
</style>

<div class="container mb-5">
  <div class="col-12 col-lg-12 mt-5 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4 ">
        <div class="d-flex justify-content-between mb-4">
          <h5 class="card-title fw-semibold ">Orders</h5>
        <a href="/admin_history" class="btn btn-danger">History</a>
        </div>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            {% if data %}
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">User Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Phone Number</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Address</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Post Code</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Near By</h6>
                </th>  
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">View Order</h6>
                </th>                
              </tr>
            </thead>
            <tbody>
             
             {% for x in data %}
             <tr class="choose_row">
               <!-- <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6></td> -->
               
               <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">{{ x.username }}</p>
               </td>
               <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">{{ x.phone_number }}</p>
               </td>
               <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">{{ x.address }}</p>
               </td>
               <td class="border-bottom-0">
                <p class="mb-0 fw-normal">{{ x.postcode }}</p>
              </td>
              <td class="border-bottom-0">
                <p class="mb-0 fw-normal">{{ x.near_by }}</p>
              </td>
            
               <td class="border-bottom-0">
                 <a href="/view_order/{{ x.id }}"><i style="color: blue; font-size: 20px;" class="fa-regular fa-clipboard"></i></a>
               </td>
             </tr> 
              {% endfor %}  
             {% else %}
             <tr>
                <td colspan="5"><center>-----------------No data found-----------------</center></td>
             </tr>
             {% endif %}       
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
