{% extends 'base.html' %}
{% load static %}
{% block title %}Submit a Review{% endblock %}

{% block content %}

<style>
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    padding: 0 0.1em;
}

.rating input:checked ~ label {
    color: #f5b301;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #f5b301;
}
</style>

<div class="container">

<h2 class="head">Compaints or Ideas</h2>

<form method="POST">
    {% csrf_token %}
    <center>
      <h5 class="text-white">Give your valuable Ideas or compaints</h5>

    </center>

    <center>
    <div class="col-12 col-md-6">
        <label for="comments text-white" class="text-white">Compaints or Ideas:</label><br>
        <textarea id="comments" required name="comments" rows="4" class="w-75"></textarea>
    </div>
    </center>
    <center><button class="btn btn-primary" type="submit">Submit</button></center>
</form>
<br>
<div class="container">
  <div class="col-12 col-lg-12 d-flex align-items-stretch">
    <div class="card w-100 mt-5 mb-5">
      <div class="card-body p-4 ">
        <div class="d-flex justify-content-between ">
          <h5 class="card-title fw-semibold ">Your Ideas or compaints</h5>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            {% if data %}
            <thead class="text-dark fs-4">
              <tr>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">S.No</h6>
                </th> -->
                
                
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Ideas or compaints</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Action</h6>
                </th>
              </tr>
            </thead>
            <tbody>
             
             {% for x in data %}
             <tr>
               <!-- <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6></td> -->
            
               <td class="border-bottom-0">
                <p class="mb-0 fw-normal">{{ x.comp }}</p>
              </td>
              
               <td class="border-bottom-0">
                 <a href="/remove_compaint/{{ x.id }}"><i style="color: red; font-size: 20px; margin-left: 15px;" class="fa fa-trash"></i></a>
               </td>
             </tr> 
              {% endfor %}  
             {% else %}
             <tr>
              
                <td colspan="5"><center>-----------------No data found-----------------</center></td>
              
             </tr>
             {% endif %}       
            </tbody>
          </table>
          <div class="d-flex justify-content-end">
           
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock %}
