
{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container d-flex justify-content-end mt-3">
  <a href="/order" class="btn btn-danger">Back</a>
</div>

<div class="container">
  <div class="col-12 col-lg-12 d-flex align-items-stretch">
    <div class="card w-100 mt-3 mb-5">
      <div class="card-body p-4 ">
        <div class="d-flex justify-content-between ">
          <h5 class="card-title fw-semibold  font color">History</h5>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            {% if data %}
            <thead class="text-dark fs-4">
              <tr>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">S.No</h6>
                </th> -->
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Image</h6>
                </th>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Category</h6>
                </th> -->
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Qyt</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Price</h6>
                </th>
                
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">weight</h6>
                </th>
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">inches</h6>
                </th> -->
                <!-- <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Remove</h6>
                </th> -->
              </tr>
            </thead>
            <tbody>
             
             {% for x in data %}
             <tr>
               <!-- <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6></td> -->
               <td class="border-bottom-0">
                   <h6 class="fw-semibold mb-1"></h6>
 
                   
                
 
                <img src="{{ x.product.img1.url }}" alt="" width="35" height="35" class="rounded-circle">
 
               </td>
               <!-- <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">{{ x.category }}</p>
               </td> -->
               <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">{{ x.product.name }}</p>
               </td>
               <td class="border-bottom-0">
                <p class="mb-0 fw-normal"> {{ x.quantity }}</p>
              </td>
               <td class="border-bottom-0">
                 <p class="mb-0 fw-normal">₹ {{ x.total_price }}</p>
               </td>
             
               <td class="border-bottom-0">
                <p class="mb-0 fw-normal">{{ x.product.weight }}</p>
              </td>
              <!-- <td class="border-bottom-0">
                <p class="mb-0 fw-normal">{{ x.inches }}</p>
              </td> -->
               <!-- <td class="border-bottom-0">
                
                 <a href="/remove_cart/{{ x.id }}"><i style="color: red; font-size: 20px; margin-left: 15px;" class="fa fa-trash"></i></a>
               </td> -->
             </tr> 
              {% endfor %}  
             {% else %}
             <tr>
              
                <td colspan="5"><center>-----------------No data found-----------------</center></td>
              
             </tr>
             {% endif %}       
            </tbody>
          </table>
          
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}





     








